.build-card
    margin-top: 2px

.user-build-history-content
    display: grid
    grid-gap: 10px
    overflow-y: auto
    overflow-x: hidden
    // width: 95%
    // max-height: 86vh
    // margin-bottom: 1%
    // padding-right: 4%

.no-build-results
    font-size: 2rem
    // display: block
    text-align: center
    font-weight: 600
    line-height: 1.6
    // margin-top: 15px
    color: #888

.title
    text-align: center
    margin: 0

::-webkit-scrollbar
    width: 5px

::-webkit-scrollbar-track
    background-color: #ebebeb
    -webkit-border-radius: 10px
    border-radius: 10px


::-webkit-scrollbar-thumb
    -webkit-border-radius: 10px
    border-radius: 10px
    background: #6d6d6d 