.block-item
    margin-bottom:10px

.project-description
    margin-bottom:5px

.card
    padding: 1px 0 15px 15px
    margin-bottom: 5px
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
    border-radius: 3px
::ng-deep body .project-tab-menu-wrapper .ui-tabview .ui-tabview-panels
    border:0

.back-btn
    margin-left: 8px
    margin-top: 3px


.top-panel button
    background-color: rgba(255, 255, 255, 0.5)
    margin: 4px 3px
    border: none
    display: inline-block

.project-name
    font-weight: 900
    padding-bottom: 5px
    padding-top: 3px
    color: #fff
    margin-left: 38vw
    display: inline-block

.project-tab-menu-wrapper
    padding-top: 10px

// .hor-navbar
//     // display: flex
//     // justify-content: space-between
//     text-align: center
//     align-items: center
//     padding: 0 2px
::ng-deep body .project-tab-menu-wrapper .ui-tabview .ui-tabview-panels
    padding-top: 0
    padding-left: 15px

.add-collaborators .card
    padding: 5px 15px

@media (min-width: 768px) 
    .container
        width: 750px
        margin: 0 auto

@media (min-width: 992px) 
    .container
        width: 970px
        margin: 0 auto

@media (min-width: 1200px) 
    .container
        width: 1170px
        margin: 0 auto

