<div class="top-panel p-grid p-nogutter">
  <div class="p-col-12">
    <button pButton routerLink="/project/{{projectId}}/settings" type="button" iconPos="left" class="ui-button-secondary" label="Project settings"></button>
    <button pButton routerLink="/workspace/{{projectId}}" type="button" iconPos="left" class="ui-button-secondary" label="Go to workspace"></button>
  </div>
</div>
<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="block-item">
            <app-project-details-info [project]="project"></app-project-details-info>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-8">
        <div class="block-item">
            <app-project-details-user-statistics></app-project-details-user-statistics>
        </div>
    </div>
</div>
