<div class="top-panel p-grid p-nogutter">
    <div class="p-col-12">
        <button pButton routerLink="/workspace/{{project.id}}" type="button" iconPos="left" icon="pi pi-arrow-left"
            class="ui-button-raised back-btn" label="Go to workspace">
        </button>
    </div>
</div>
<div class="project-tab-menu-wrapper">
    <p-tabView orientation="left">
        <p-tabPanel header="Details" leftIcon="pi pi-info-circle">
            <app-project-details-info [project]="project"></app-project-details-info>
        </p-tabPanel>
        <p-tabPanel header="Collaborators" leftIcon="pi pi-comment" class="collaborator">
            <ng-template pTemplate="content">
                <div class="project-description">
                    <div class="card">
                        <app-add-collaborators [projectId]="projectId"></app-add-collaborators>
                    </div>
                </div>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Build results" leftIcon="pi pi-eye">
            <ng-template pTemplate="content">
                <app-user-build-history [projectId]="projectId" class="builds-tab"></app-user-build-history>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Artifacts" leftIcon="pi pi-cloud-download">
            Here will be artifacts(list of zip builds)
        </p-tabPanel>
        <p-tabPanel header="User statistics" leftIcon="pi pi-chart-bar">
            <ng-template pTemplate="content">
                <app-project-details-user-statistics [project]="project"></app-project-details-user-statistics>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Git Credentials" leftIcon="pi pi-sitemap">
            <app-git-credentials [project]="project"></app-git-credentials>
        </p-tabPanel>
        <p-tabPanel header="History of changes" leftIcon="pi pi-list">
            <ng-template pTemplate="content">
                <app-history-changes [projectId]="project.id"></app-history-changes>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>

<!--
<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <div class="block-item">
            <app-project-details-info [project]="project"></app-project-details-info>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-8">
        <div class="block-item">
            <app-project-details-user-statistics></app-project-details-user-statistics>
        </div>
    </div>
</div>
-->