.wks-wrapper
    height: -webkit-calc(100% - 33px)
    height:    -moz-calc(100% - 33px)
    height:         calc(100% - 33px)
    margin: 0px
    background-color: #f4f4f4
.top-panel
    padding-left: 2rem
    height: 37px
    background-color: #f4f4f4
.file-browser-content
    background-color: white

.editor-content
    opacity: 0.5


.inner-wrapper
    height: 100%

.large
    width: 100%

.hor-navbar button
    background-color: #c8d1de
    margin: 2px

.left-panel
    width: 2rem

.project-name
    margin-left: 5px
    font-weight: 900
    border: 1px solid #F4F4F4
    background-color: #C8D1DE
    padding-bottom: 5px
    padding-top: 3px
    padding-right: 5px
    padding-left: 5px
    border-radius: 2px

.draggableLine
    width: 3px
    height: 100%
    border-left: 3px double black
    cursor: col-resize

.browser
    width: 30%

.workspace
    width: calc(70% - 3px)
    
::ng-deep .ui-button-icon-left.ui-clickable.pi.pi-save-all
    &:before
        content: "\e95b"
        position: relative
        top: -8px
        left: 1px

        font-size: 0.7em
    &::after
        content: "\e95b"
        position: absolute
        left: -3px
        top: 3px
        font-size: 0.7em
