<div class="top-panel p-grid p-nogutter" *ngIf="project">
  <div class="hor-navbar p-col-12" [ngStyle]="{'background-color': getProjectColor()}">
    <div class="hor-buttons-group">
        <button pButton *ngIf="canRun || isAuthor()" type="button" icon="pi pi-play" iconPos="left"
            class="ui-button-secondary" label="Run" (click)="onRun()" pTooltip="Run - Ctrl+R"
            tooltipPosition="bottom" showDelay="5000"></button>
        <button pButton *ngIf="canBuild || isAuthor()" type="button" icon="pi pi-inbox" iconPos="left"
            class="ui-button-secondary" label="Build" (click)="onBuild()" pTooltip="Build - Ctrl+B"
            tooltipPosition="bottom" showDelay="5000"></button>
        <button pButton *ngIf="!canNotEdit || isAuthor()" type="button" (click)="onSaveButtonClick()" icon="pi pi-save" [disabled] = "isSaveButtonDisabled"
            iconPos="left" class="ui-button-secondary" label="Save" pTooltip="Save - Ctrl+S"
            tooltipPosition="bottom" showDelay="5000"></button>
        <button pButton *ngIf="!canNotEdit || isAuthor()" type="button" (click)="onSaveAllButtonClick()" icon="pi pi-save-all"
            iconPos="left" class="ui-button-secondary" label="Save All" pTooltip="Save All - Ctrl+Shift+S" [disabled] = "isSaveAllButtonDisabled"
            tooltipPosition="bottom" showDelay="5000"></button>
        <button pButton type="button" *ngIf="isAuthor()" (click)="Settings()" icon="pi pi-cog" iconPos="left"
            class="ui-button-secondary" label="Settings" pTooltip="Settings" tooltipPosition="bottom"
            showDelay="5000"></button>
    </div>
    <span class="project-name">{{ project.name }}</span>
  </div>
</div>
<div class="wks-wrapper p-grid p-nogutter">
    <div class="left-panel p-col-fixed">
        <button pButton type="button" icon="pi pi-clone" title="Hide or show project structure" iconPos="left"
            class="ui-button-secondary" (click)="hideFileBrowser()"></button>
        <button pButton routerLink="/project/{{projectId}}" title="Project details" type="button" icon="pi pi-info"
            iconPos="left" class="ui-button-secondary"></button>
        <button *ngIf="isAuthor()" pButton type="button" icon="pi pi-pencil" title="Edit project" iconPos="left" class="ui-button-secondary"
            (click)="editProjectSettings()"></button>
        <button pButton type="button" icon="pi pi-search" iconPos="left" class="ui-button-secondary"
            (click)="hideSearchField()"></button>
        <button pButton type="button" icon="pi pi-sort" title="Expand or collapse all" iconPos="left" class="ui-button-secondary"
            (click)="expand()"></button>
        <button pButton type="button" icon="pi pi-refresh" title="Refresh file section" iconPos="left" class="ui-button-secondary"
            (click)="refresh()"></button>
    </div>
    <div class="p-col" *ngIf="isOpenedConnection">
        <div class="inner-wrapper p-grid p-nogutter" id="container" (mouseover)="draggableUp($event)" (mousemove)="draggableMove($event)" (mouseup)="draggableUp($event)">
            <div *ngIf="project" [hidden]="!showFileBrowser" id="browser" class="file-browser-content p-align-stretch browser">
                <app-file-browser-section  (fileSelected)="onFileSelected($event)" (renameFile)="onFileRenaming($event)"
                    [showSearchField]="showSearchField" [events]="eventsSubject.asObservable()" [project]="project">
                </app-file-browser-section>
            </div>
            <div *ngIf="showFileBrowser" class="draggableLine" (mousedown)="draggableDown($event)" (mousemove)="draggableMove($event)" (mouseup)="draggableUp($event)"></div>
            <div *ngIf="project" id="workspace" class="p-align-stretch workspace" [ngStyle]="{'background-color': getProjectColor()}" [ngClass]="{large: !showFileBrowser}">
                <app-editor-section  [canEdit]="canNotEdit" [monacoOptions]='options' (tabClosedEvent)="onFileClosed($event)" [isInputTerminalOpen]="isInputTerminalOpen"></app-editor-section>
                <app-run-input *ngIf="inputItems" (OnChange)="OnChange($event)" [inputItems]="inputItems" [connectionId]="connectionId" [projectId]="project.id"></app-run-input>
            </div>
        </div>
    </div>
    <div class="p-col" *ngIf="isOpenedConnection === false">
        Can't connect to server, please try again later, or refresh page
    </div>
</div>


