<div class="top-panel p-grid p-nogutter">
    <div class="hor-navbar p-col-12">
        <button pButton *ngIf="canRun || isAuthor()" type="button" icon="pi pi-play" iconPos="left"
            class="ui-button-secondary" label="Run"></button>
        <button pButton *ngIf="canBuild || isAuthor()" type="button" icon="pi pi-arrow-down" iconPos="left"
            class="ui-button-secondary" label="Build" (click)="onBuild()"></button>
        <button pButton *ngIf="!canNotEdit || isAuthor()" type="button" (click)="onFilesSave()" icon="pi pi-save" iconPos="left"
            class="ui-button-secondary" label="Save"></button>
        <button pButton type="button" *ngIf="isAuthor()" (click)="Settings()" icon="pi pi-save" iconPos="left"
            class="ui-button-secondary" label="Settings"></button>
    </div>

</div>
<div class="wks-wrapper p-grid p-nogutter">
    <div class="left-panel p-col-fixed">
        <button pButton type="button" icon="pi pi-clone" title="Hide or show project structure" iconPos="left"
            class="ui-button-secondary" (click)="hideFileBrowser()"></button>
        <button pButton type="button" icon="pi pi-file" iconPos="left" class="ui-button-secondary" disabled></button>
        <button pButton routerLink="/project/{{projectId}}" title="Project details" type="button" icon="pi pi-info"
            iconPos="left" class="ui-button-secondary"></button>
        <button *ngIf="isAuthor()" pButton type="button" icon="pi pi-cog" title="Edit project" iconPos="left" class="ui-button-secondary"
            (click)="editProjectSettings()"></button>
        <button pButton type="button" icon="pi pi-search" iconPos="left" class="ui-button-secondary"
            (click)="hideSearchField()"></button>
        <button pButton type="button" icon="pi pi-sort" title="Expand or collapse all" iconPos="left" class="ui-button-secondary"
            (click)="expand()"></button>
        <button pButton type="button" icon="pi pi-refresh" title="Refresh file section" iconPos="left" class="ui-button-secondary"
            (click)="refresh()"></button>
    </div>
    <div class="p-col">
        <div class="inner-wrapper p-grid p-nogutter ">
            <div *ngIf="showFileBrowser" class="file-browser-content p-col-12 p-md-4 p-xl-2 p-align-stretch">
                <app-file-browser-section  (fileSelected)="onFileSelected($event)" (renameFile)="onFileRenaming($event)"
                    [showSearchField]="showSearchField" [events]="eventsSubject.asObservable()" [project]="project">
                </app-file-browser-section>
            </div>
            <div *ngIf="project" class="p-col-12 p-md-8 p-xl-10 p-align-stretch " [ngStyle]="{'background-color':getProjectColor()}" [ngClass]="{large:!showFileBrowser}">
                <app-editor-section  [canEdit]="canNotEdit" [monacoOptions]='options' (filesSaveEvent)="onFilesSave($event)"></app-editor-section>
            </div>
        </div>
    </div>
</div>

<!-- for resizabe block -->
<!-- <div
    class="resize-rect "
    [ngStyle]="style"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    (resizeEnd)="onResizeEnd($event)"
    style="background-color: green;"
  >
    Angular Resizable Element

    <div
      class="resize-handle-left"
      mwlResizeHandle
      [resizeEdges]="{ left: true }"
    ></div> -->
