<div class="top-panel p-grid p-nogutter">
  <div class="p-col-12">

    <button pButton type="button" icon="pi pi-play" iconPos="left" class="ui-button-secondary" label="Run"></button>
    <button pButton type="button" icon="pi pi-arrow-down" iconPos="left" class="ui-button-secondary" label="Build"></button>
    <button pButton type="button" (click)="onSaveButtonClick($event)" icon="pi pi-save" iconPos="left" class="ui-button-secondary" label="Save"></button>
    <button pButton routerLink="/project/{{projectId}}" type="button" icon="pi pi-info" iconPos="left" class="ui-button-primary" label="Project details"></button>
    <button pButton (click)="openModalWindow()" type="button" icon="pi pi-info" iconPos="left" class="ui-button-primary" label="Add collaborators"></button>
  </div>

</div>
<div class="wks-wrapper p-grid p-nogutter">
  <div  class="left-panel p-col-fixed" style="width:2rem;" class="resize-rect ">
    <button pButton type="button" icon="pi pi-file" iconPos="left" class="ui-button-secondary"></button>
    <button pButton type="button" icon="pi pi-cog" iconPos="left" class="ui-button-secondary" routerLink="/project/{{projectId}}/settings"></button>
    <button pButton type="button" icon="pi pi-search" iconPos="left" class="ui-button-secondary"></button>
</div>
  <div class="p-col">
    <div class="inner-wrapper p-grid p-nogutter ">
      <div class="file-browser-content p-col-12 p-md-3 p-align-stretch" >
        <app-file-browser-section (fileSelected) = "onFileSelected($event)"></app-file-browser-section>
      </div>
      <div class="editor-content p-col-12 p-md-9 p-align-stretch ">
    <app-editor-section  (filesSaveEvent)= "onFilesSave($event)" ></app-editor-section>
      </div>
    </div>
  </div>
</div>

<!-- for resizabe block -->
<!-- <div
    class="resize-rect "
    [ngStyle]="style"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    (resizeEnd)="onResizeEnd($event)"
    style="background-color: green;"
  >
    Angular Resizable Element

    <div
      class="resize-handle-left"
      mwlResizeHandle
      [resizeEdges]="{ left: true }"
    ></div>

  </div> -->
