<div *ngIf="!isCredentials()">
    <button type="button" pButton label="Add credentials" (click)="addCredentials()"></button>
</div>
<div *ngIf="isCredentials()">
    <p-slideMenu #menu [model]="commands" [popup]="true"></p-slideMenu>
    <button #btn type="button" pButton icon="pi pi-sitemap" label="Select git command"
            (click)="menu.toggle($event)"></button>
</div>



<div *ngIf="isCredentials()" class="project-description">
        <div class="card">
            <h2>Git credentials</h2>
            <p>
                <span class="highlighted">Login: </span>
                <span>{{project.gitCredential.login}}</span>
            </p>
            <p>
                <span class="highlighted">Url: </span>
                <span>{{project.gitCredential.url}}</span>
            </p>
            <p>
                <span class="highlighted">Provider: </span>
                <span appProvider [provider]="project.gitCredential.provider"></span>
            </p>
        </div>
    </div>

