<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">
  <!--internalLogFile="c:\temp\internal-nlog.txt">-->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  
  <variable name='logDirectory' value='${aspnet-appbasepath}\logs\${shortdate}'/>
  <variable name='layout' value='${time}|${uppercase:${level}}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}'/>
  <variable name='layoutlong' value='${time}|${uppercase:${level}}|${logger}|${all-event-properties}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}'/>
  
  <!-- the targets to write to -->
  <targets>
    <target name="elastic" xsi:type="BufferingWrapper"
     flushTimeout="5000" >
  	  <target xsi:type="ElasticSearch"  >
         <field name="appDomain" layout="${appdomain}" />
        </target>
    </target>
    <!--Database connection-->
    
    <!--Files config-->
    <target xsi:type="file" name="debug" fileName="${logDirectory}\Debug.log" deleteOldFileOnStartup="true"
            layout="${layout}" />
    
    <target xsi:type="file" name="info" fileName="${logDirectory}\Info.log" deleteOldFileOnStartup="true"
            layout="${layout}" />

    <target xsi:type="File" name="all" fileName="${logDirectory}\All.log" deleteOldFileOnStartup="true"
            layout="${layout}" />
  
    <target xsi:type="file" name="warnings" fileName="${logDirectory}\WarningsPlus.log" deleteOldFileOnStartup="true"
            layout="${layout}" />
    
    <target xsi:type="File" name="microsoftErrors" fileName="${logDirectory}\MicrosoftErrors.log"
            layout="${layoutlong}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="elastic" />    
    
    <!--Files logging-->
    <logger name="*" writeTo="all" enabled="true" />  <!--set to false on prod--> 
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="Microsoft.*" minlevel="Warn" writeTo="microsoftErrors" />
    
    <logger name="*" level="Debug" writeTo="debug" enabled="true" />  <!--set to false on prod--> 
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" minlevel="Warn" writeTo="warnings"  />
  </rules>
</nlog>