.login-btn
    margin-right: 5px
.rigth-nav-menu
    display: flex
    flex-direction: row
::ng-deep body .ui-inputtext.ui-autocomplete-input
    margin-right: 10px
::ng-deep .ui-menu
    width: 100%

.notification 
    display: flex
    justify-content: flex-end

.bell-wrapper
    background-color: white !important
    border: none !important

.overlayPanel
    display: none

.notification-item
    border-bottom: 1px solid lightgrey
    margin-bottom: 10%

.count-of-notification
    position: absolute
    margin-left: 25px
    margin-bottom: 25px