::ng-deep body .ui-inputtext.ui-autocomplete-input
    margin-right: 10px
::ng-deep .ui-menu
    width: 100%
::ng-deep .menu-wrapper .ui-autocomplete .ui-autocomplete-panel
    min-width: 97%
.right-part
    margin-right: 2px
.authorized-right-part
    display: flex

.notification-panel-content
    max-height: 300px
    overflow-y: auto

.notification 
    display: flex
    justify-content: flex-end

.bell-wrapper
    background-color: white !important
    border: none !important

::ng-deep .pi.pi-bell
    font-size: 1.5rem        

.overlayPanel
    display: none

.count-of-notification
    position: absolute
    margin-left: 25px
    margin-bottom: 25px
    background: blue
    border-radius: 10px
    min-width: 19px
    display: block
    color: #fff
    font-size: 0.7rem
    padding: 2px

.avatar
    height: 16px
    width: 16px
    position: relative
    top: 3px
    left: 23px
    z-index: 2
    border-radius: 50%
    margin-top: 7px
    object-fit: cover

@media screen and (max-width: 460px)
    .avatar
        display: none

::ng-deep body .ui-overlaypanel .ui-overlaypanel-content,
::ng-deep .ui-overlaypanel-content
    padding: 5px

.menu-wrapper
    position: fixed
    top: 0
    width: 100%

.menu-wrapper .right-part .common-btn,
.menu-wrapper .right-part .common-btn:focus
    border: none
    background: #94d0ff
    color: #000000
    box-shadow: none
    outline-width: 0


.menu-wrapper .right-part .common-btn:hover
    background: #34a6ff !important

.profile-btn,
.profile-btn:focus,
.profile-btn:hover
    width: 125px
    border-right: 1px solid #FFFFFF !important

.right-part .login-btn
    margin-right: 5px

.logo
    width: 50px
    height: 37px
    background: url(../../assets/img/logo-128.png)
    background-size: contain
    background-position: center
    margin-left: 30px
    background-repeat: no-repeat
    margin-bottom: -2px
    margin-top: 1px
