<p-card subheader="{{project.creator}}">
    <p-header>
        <div class="header" [ngStyle]="{ 'background-color': project.color }">
            <div class="title-body">
              <h2 class="title-ellipsis">{{project.name}}</h2>
            </div>
        </div>
    </p-header>
    <div>
        <p>
            <span class="highlighted">Desciption:</span>
            <span class="desc" [ngStyle]="{ 'white-space': 'normal'}">{{project.description}}</span> 
        </p>
    </div>
</p-card>
