<div class="tree-wrapper">
    <p-progressBar *ngIf="!showSearchField && (!files || files.length == 0)" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    <p-tree *ngIf="files && files.length > 0 && !showSearchField" class="custom-tree" selectionMode="single" [value]="files" [(selection)]="selectedItem" 
            [contextMenu]="contextMenu" (onNodeSelect)="nodeSelect($event)" (onNodeContextMenuSelect)="nodeContextMenuSelect($event)">
        <ng-template let-node pTemplate="0">
                <input class="input-item" [value]="node.label" (focusout)="focusout(node)" 
                        (keyup.enter)="focusout(node)" (keydown)="inputKeyDown($event)" disabled>
        </ng-template>
        <ng-template let-node  pTemplate="1">
            <input class="input-item" type="text" [ngModel]="node.label" (focusout)="focusout(node)"
                        (input)="setIcon(node)" (keyup.enter)="focusout(node)" (keydown)="inputKeyDown($event)" disabled>
        </ng-template>
    </p-tree>
    <div *ngIf="showSearchField">
        <div class="file-search">
            <input type="text" [(ngModel)]="searchField" class="file-search-keyword" placeholder="Search..." #keywordInput>
            <button pButton class="ui-button-secondary" icon="pi pi-times" (click)="onSearchFieldClear()"></button>            
            <button pButton  type="submit" icon="pi pi-search" (click)="searchByFiles(keywordInput.value)"></button>
        </div>
        <p-tree [loading]="isSearchLoading" emptyMessage="No files found..." selectionMode="single"  [(selection)]="selectedFilteredFile" [value]="filteredFiles"
                filterMode="strict" (onNodeSelect)="onFilteredFileSelected($event)" class="custom-tree">
            <ng-template let-node  pTemplate="1">
                <div [innerHTML]="node.label"></div>
            </ng-template>
        </p-tree>
    </div>
    <p-contextMenu #contextMenu [model]="items"></p-contextMenu>
</div>