<div class="collaborators-wrp" *ngIf=isAuthor()>
    <h2 class="collaborators-title">Collaborators:</h2>
    <div *ngIf=isAuthor() class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p-autoComplete class="collaborator-auto-complete" [(ngModel)]="collaborator"
                [suggestions]="filterCollaborators" (completeMethod)="filterCollarator($event)" field="nickName"
                [size]="30" placeholder="Add user by nickname" [minLength]="1" (onSelect)="addCollaborator(collaborator)">
            </p-autoComplete>
        </div>
    </div>
</div>

<div *ngIf="newCollaborators && newCollaborators.length < 1">This project has no collaborators yet.</div>
<app-add-collaborators-list [collaborators]="newCollaborators"></app-add-collaborators-list>

<button *ngIf="isCollaboratorsSaved && isAuthor()" type="submit" icon="pi pi-save" pButton class="save-btn"
    [disabled]="IsNotCollaboratorsChange()" label="Save" (click)="save()"></button>