<div id="page-loaded-spinner" class="p-grid p-justify-center" *ngIf="!isPageLoaded">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="isPageLoaded && !project" class="error">
  <p>Can't load project details</p>
</div>

<div *ngIf="isPageLoaded && !!project" class="container">
  <div class="ui-g ui-fluid">
      <div class="ui-g-12">
          <div class="title">Edit project "{{projectStartState.name}}"</div>
          <hr>
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-12">
          <form class="projectForm" [formGroup]="projectForm" (ngSubmit)="onSubmit()">

              <div class="label">Project Name</div>
              <div class="ui-g ui-fluid">
                  <div class="ui-g-12">
                      <div class="ui-inputgroup">
                          <input type="text" pInputText formControlName="name" placeholder="name" [(ngModel)]=project.name>
                      </div>
                  </div>
              </div>
              <div class="invalid" *ngIf="projectForm.get('name').invalid">{{getErrorMessage('name')}}</div>

              <div class="label">Description</div>
              <div class="ui-g ui-fluid">
                  <div class="ui-g-12">
                      <div class="ui-inputgroup">
                          <textarea [rows]="3" pInputTextarea formControlName="description" placeholder="description" [(ngModel)]=project.description></textarea>
                      </div>
                  </div>
              </div>
              <div class="invalid" *ngIf="projectForm.get('description').invalid">{{getErrorMessage('description')}}</div>

                <!-- Access modifier -->
                <div class="label">Access</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="">
                            <p-dropdown [options]="access" placeholder="Select project access"
                                formControlName="access" [(ngModel)]=project.accessModifier></p-dropdown>
                        </div>
                    </div>
                </div>

              <div class="label">Number of saved builds</div>
              <div class="ui-g ui-fluid">
                  <div class="ui-g-12">
                      <div class="ui-inputgroup">
                          <input type="text" pInputText pKeyFilter="pint" formControlName="countOfSaveBuilds" placeholder="builds" [(ngModel)]=project.countOfSaveBuilds>
                      </div>
                  </div>
              </div>
              <div class="invalid" *ngIf="projectForm.get('countOfSaveBuilds').invalid">{{getErrorMessage('countOfSaveBuilds')}}</div>

              <div class="label">Number of build attempts for user</div>
              <div class="ui-g ui-fluid">
                  <div class="ui-g-12">
                      <div class="ui-inputgroup">
                          <input type="text" pInputText pKeyFilter="pint" formControlName="countOfBuildAttempts" placeholder="build attempts" [(ngModel)]=project.countOfBuildAttempts>
                      </div>
                  </div>
              </div>
              <div class="invalid" *ngIf="projectForm.get('countOfBuildAttempts').invalid">{{getErrorMessage('countOfBuildAttempts')}}</div>

              <div class="label">Collaborators:</div>
              <app-add-collaborators-list [collaborators]="collaborators" [area]="area"></app-add-collaborators-list>

              <div class="ui-g ui-fluid">
                  <div class="ui-g-12">
                      <button type="button" routerLink="/project/{{project.id}}" pButton class="ui-button-secondary" label="Back to details"></button>
                      <button *ngIf="isDetailsSaved" type="submit" [disabled]="!projectForm.valid || projectItemIsNotChange()" pButton label="Save"></button>
                      <div id="save-details-spinner" class="p-grid p-justify-center" *ngIf="!isDetailsSaved">
                          <p-progressSpinner></p-progressSpinner>
                      </div>
                  </div>
              </div>

          </form>
      </div>
  </div>
</div>
