<span class="modal-close-btn" (click)="close()">&times;</span>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="title">{{ title }}</div>
    </div>
</div>

<div id="page-loaded-spinner" class="p-grid p-justify-center" *ngIf="!isPageLoaded">
    <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!isPageLoaded" class="error">
    <p>Can't load user details</p>
</div>
  
<div class="ui-g" *ngIf="isPageLoaded">
    <div class="ui-g-12">
        <form class="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div *ngIf="isUpdateInfo()">

            <!-- User FirstName -->
            <div class="label">First name</div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText pKeyFilter="alphanum" formControlName="firstName" placeholder="Enter your name">
                    </div>
                </div>
            </div>

            <div class="invalid" *ngIf="userForm.get('firstName').invalid && userForm.get('firstName').dirty">Invalid first name</div>

            <!-- User LastName -->
            <div class="label">Last name</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText pKeyFilter="alphanum" formControlName="lastName" placeholder="Enter your surname">
                        </div>
                    </div>
                </div>

                <div class="invalid" *ngIf="userForm.get('lastName').invalid && userForm.get('lastName').dirty">Invalid last name</div>

            <!-- User NickName -->
            <div class="label">Nickname</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText pKeyFilter="alphanum" formControlName="nickName" placeholder="Enter your nickname">
                        </div>
                    </div>
                </div>

                <div class="invalid" *ngIf="userForm.get('nickName').invalid && userForm.get('nickName').dirty">Invalid nickname</div>

            <!-- User GitHub -->
            <div class="label">Github url</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText pattern="https://github.com/[a-zA-Z0-9]{2,}" formControlName="gitHubUrl" placeholder="Enter github url">
                            <!-- <input type="text" pInputText pKeyFilter="alphanum" formControlName="gitHubUrl" placeholder="Enter github url"> -->
                        </div>
                    </div>
                </div>

                <div class="invalid" *ngIf="userForm.get('gitHubUrl').invalid && userForm.get('gitHubUrl').dirty">
                    input https://github.com/[your nickname]
                </div>


            <!-- User Birthday -->
            <div *ngIf="true" class="label">Birthday</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup">
                            <p-calendar formControlName="birthday" [monthNavigator]="true" [yearNavigator]="true" yearRange="1960:2012"></p-calendar>
                        </div>
                    </div>
                </div>

                <div class="invalid" *ngIf="userForm.get('birthday').invalid && userForm.get('birthday').dirty">Please, input your birthday</div>

            </div>

            <div *ngIf="isUpdatePassword()">

                <!-- Current password -->
                <div class="label">Current password</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup">
                            <input  type="password" [feedback]="false" pPassword name="password" placeholder="Enter current password" formControlName="password" minlength="8"  maxlength="16" required
                                pattern="[а-яА-Яa-zA-Z0-9]{8,16}"/>
                                <div class="invalid" *ngIf="userForm.get('password').invalid && (userForm.get('password').dirty || userForm.get('password').touched)">
                                    <div *ngIf="userForm.get('password').errors.pattern">
                                        Password can contain latin letters (upper\lowercase), digits.
                                    </div>
                                    <div *ngIf="userForm.get('password').errors.required">
                                        Password is required.
                                    </div>
                                    <div *ngIf="userForm.get('password').errors.minlength">
                                        Password mininum length is 8.
                                    </div>
                                    <div *ngIf="userForm.get('password').errors.maxlength">
                                        Password maximun length is 16.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- New password -->
                <div class="label">New password</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup">
                            <input type="password" [feedback]="true"  pPassword formControlName="newPassword" placeholder="Enter new password" minlength="8"  maxlength="16" required
                            pattern="[а-яА-Яa-zA-Z0-9]{8,16}"/>
                            <div class="invalid" *ngIf="userForm.get('newPassword').invalid && (userForm.get('newPassword').dirty || userForm.get('newPassword').touched)">
                                <div *ngIf="userForm.get('newPassword').errors.pattern">
                                    Password can contain latin letters (upper\lowercase), digits.
                                </div>
                                <div *ngIf="userForm.get('newPassword').errors.minlength">
                                    Password mininum length is 8.
                                </div>
                                <div *ngIf="userForm.get('newPassword').errors.maxlength">
                                    Password maximun length is 16.
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <!-- Repeat password -->
                <div class="label">Repeat password</div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-inputgroup">
                            <input type="password" [feedback]="false" pPassword formControlName="repeatPassword" placeholder="Repeat new password" minlength="8"  maxlength="16" required
                            pattern="[а-яА-Яa-zA-Z0-9]{8,16}"/>
                            <div class="invalid" *ngIf="userForm.get('repeatPassword').invalid && (userForm.get('repeatPassword').dirty || userForm.get('repeatPassword').touched)">
                                <div *ngIf="userForm.get('repeatPassword').errors.pattern">
                                    Password can contain latin letters (upper\lowercase), digits.
                                </div>
                                <div *ngIf="userForm.get('repeatPassword').errors.minlength">
                                    Password mininum length is 8.
                                </div>
                                <div *ngIf="userForm.get('repeatPassword').errors.maxlength">
                                    Password maximun length is 16.
                                </div>
                            </div>
                            <div class="invalid" *ngIf="userForm.hasError('notSame')">
                                Passwords do not match
                            </div>
                        </div>
                    </div>
                </div> 

            </div>

            <!-- Submit -->
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <button *ngIf="isUpdateInfo() && hasDetailsSaveResponse" type="submit" [disabled]="!userForm.valid" pButton label="Update"></button>
                    <button *ngIf="isUpdatePassword() && hasDetailsSaveResponse" type="submit" [disabled]="!userForm.valid" pButton label="Change"></button>
                    <div id="save-details-spinner" class="p-grid p-justify-center" *ngIf="!hasDetailsSaveResponse">
                        <p-progressSpinner></p-progressSpinner>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
