.project-logo
    height:200px
    width:200px
    padding:20px

.project-details-bnts
    display: grid
    grid-template-columns: repeat(2,1fr)


.project-description
    margin-bottom:5px

.collaborators
    display: flex
    justify-content: space-evenly

p
    font-size:12pt
    padding:4px
    color:#888

.highlighted
    font-weight: bold
    font-size:13pt

button
    margin-right: 10px
    border: 0
    padding-right: 15px

.card
    padding: 1px 0 15px 15px
    // margin-bottom: -5px
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)
    border-radius: 3px

.card h2
    font-weight: bold
    margin: 0.5em 0
.proj-info-button-wrapper
    margin-top: 10px
::ng-deep .export-button .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
    margin-right: 0
.empty
    flex:1

.proj-info-button-wrapper
    display: flex
    justify-content: space-between

.proj-info-button-wrapper button
    width: 100px
    height: 32px

.title
    text-align: center

.card
    padding: 5px 15px
