<!--<p-card [style]="{width:'100%'}">
    <p-header>
        <img class="project-logo" src={{project.logo}}>
    </p-header>
<img class="project-logo" src={{project.logo}}>-->
    <div class="project-description">
        <p-card header="Main">
            <p>
                <span class="highlighted">Name: </span>
                <span>{{project.name}}</span>
            </p>
            <p>
                <span class="highlighted">Description: </span>
                <span>{{project.description}}</span>
            </p>
            <p>
                <span class="highlighted">Created: </span>
                <span>{{project.createdAt |  date:'d MMMM yyyy'}}</span>
            </p>
            <p>
                <span class="highlighted">Author: </span>
                <span>{{project.authorName}}</span>
            </p>
        </p-card>
    </div>
    <div class="project-description">
        <p-card header="Secondary">
             <p>
                <span class="highlighted">Language: </span>
                <span appLanguage [language]="project.language"></span>
            </p>
             <p>
                <span class="highlighted">Project type: </span>
                <span appProjectType [projectType]="project.projectType"></span>
            </p>
             <p>
                <span class="highlighted">Compiler type: </span>
                <span appCompilerType [compilerType]="project.compilerType"></span>
            </p>
            <!--here will be check(if project access modifier - public)-->
            <p *ngIf="IsPublic()">
                <span class="highlighted">ProjectLink: </span>
                <span>{{project.projectLink}}</span>
            </p>
        </p-card>
    </div>
    <div class="project-description">
        <p-card header="Additional">
             <p>
                <span class="highlighted">Amount of saved builds: </span>
                <span>{{project.countOfSaveBuilds}}</span>
            </p>
             <p>
                <span class="highlighted">Amount of build attempts: </span>
                <span>{{project.countOfBuildAttempts}}</span>
            </p>
        </p-card>
    </div>
    <!--
    <div *ngFor="let credential of project?.gitCredentials" class="project-description">
        <p-card header="Credentials">
             <p>
                <span class="highlighted">Provider: </span>
                <span>{{project?.provider}}</span>
            </p>
             <p>
                <span class="highlighted">Url: </span>
                <span>{{project?.credential?.url}}</span>
            </p>
        </p-card>
    </div>
    -->
    <div *ngIf="IsAuthor()" >
      <div >
          <button  pButton icon="pi pi-pencil" routerLink="/project/{{project.id}}/settings" label="Edit"></button>
          <app-confirmation-dialog buttonName="Delete" [header]="getRemovingHeader()" message="Do you want to delete this project?" (IsConfirmed)="remove($event)"></app-confirmation-dialog>
      </div>
    </div>
<!--</p-card>-->
