.project-logo
    height:200px
    width:200px
    padding:20px


.project-description
    margin-bottom:5px

p
    font-size:12pt
    padding:4px
    color:#888

.highlighted
    font-weight: bold
    font-size:13pt

button
    margin-right: 10px
    border: 0
    padding-right: 15px

