.project-logo
    height:200px
    width:200px
    padding:20px

.project-details-bnts
    display: grid
    grid-template-columns: repeat(2,1fr)


.project-description
    margin-bottom:5px

p
    font-size:12pt
    padding:4px
    color:#888

.highlighted
    font-weight: bold
    font-size:13pt

button
    margin-right: 10px
    border: 0
    padding-right: 15px

.proj-info-button-wrapper
    margin-top: 10px
::ng-deep .export-button .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
    margin-right: 0
.empty
    flex:1
