.date
    width: 50%
    text-align: right
    display: inline-block

.header
    width: 45%
    display: inline-block

.nickName 
    text-align: right
    font-size: 0.7em

.highlighted
    font-size: 1.2em
    color: #007bda

input
    width: 100%
    outline: none
    border-radius: 3px
    border: 1px solid #888
    font-size: 1.2em
    padding: 5px 10px

h2
    text-align: center
    font-size: 1.5em
    margin: 20px 0
    width: 100%