.pheader-container
    display: inline-block
    width: calc(100% - 22.5px)

.headerContainer
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

.nickName 
    text-align: right
    font-size: 0.7em

.highlighted
    font-size: 1.2em
    color: #007bda

input
    width: 100%
    outline: none
    border-radius: 3px
    border: 1px solid #888
    font-size: 1.2em
    padding: 5px 10px

h2
    text-align: center
    font-size: 1.5em
    margin: 20px 0
    width: 100%

.deleted-line
    background:#ffe6e6

.added-line
    background:#e6ffe6

.build-card
    width: 100%
    border-left: 10px solid black
    display: flex
    flex-direction: column
    border-left-color: blue
    margin-bottom: 10px

.property-name
    box-sizing: border-box
    font-weight: bold
    font-size: 14px
    color:#888
    margin: 0px 0px 0px 10px

.change-info
    display: grid
    grid-template-columns: repeat(3,1fr)

.pi.pi-arrow-up
    color: green

.pi.pi-arrow-down
    color: red