.comment
    width: 100%
    border: 1px solid #5db4e9
    border-radius: 5px
    height: 42vh

.header
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: baseline
    padding: 10px 5% 5px 5%
    height: 9vh
    overflow: hidden

.header img
    width: 50px
    border-radius: 50%
    display: block

.header span
    display: block
    margin-left: 20px
    font-size: 1.5em
    font-weight: bold
    text-valign: center

.line
    width: 100%
    border-top: 1px solid #5db4e9

.body
    padding: 0 5%
    text-align: justify
    height: 32vh
    font-size: 1.2em
    overflow-y: auto