<div [ngClass]="{ 'container' : !IsWorkspace }">
<div class="editor-settings-content">
    <span *ngIf="IsWorkspace" class="modal-close-btn" (click)="close()">&times;</span>
    <h2 *ngIf="IsWorkspace" class="title"> Editor settings</h2>
    <form class="edittor-setting-content" [formGroup]="editorSettingsForm">
        <div class="editor-details-property">
            <p class="property-name">Theme:</p>
            <p-dropdown class="dropdown" [options]="themes" formControlName="theme"></p-dropdown>
        </div>
        <div class="editor-details-property">
            <p class="property-name">Scroll beyond last line:</p>
            <p-dropdown class="dropdown" [options]="scrolls" formControlName="scrollBeyondLastLine"></p-dropdown>
        </div>
        <div class="editor-details-property">
            <p class="property-name">Cursor style:</p>
            <p-dropdown class="dropdown" [options]="cursorStyles" formControlName="cursorStyle"></p-dropdown>
        </div>
        <div class="editor-details-property">
            <p class="property-name">Line height:</p>
            <input class="editor-input" type="text" formControlName="lineHeight">
        </div>
        <div class="editor-details-property">
            <p class="property-name">Line numbers:</p>
            <p-dropdown class="dropdown" [options]="lineNumbers" formControlName="lineNumbers"></p-dropdown>
        </div>
        <div class="editor-details-property">
            <p class="property-name">Font size:</p>
            <input class="editor-input" type="text" formControlName="fontSize">
        </div>
        <div class="editor-details-property">
            <p class="property-name">Tab size:</p>
            <input class="editor-input" type="text" formControlName="tabSize">
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <button *ngIf="hasDetailsSaveResponse" (click)="onSubmit(false)" class="settings-btn"
                    [disabled]="!editorSettingsForm.valid || IsSettingsNotChange()" pButton label="Save"></button>
                <button *ngIf="hasDetailsSaveResponse && IsWorkspace" (click)="onSubmit(true)" class="settings-btn"
                    [disabled]="!editorSettingsForm.valid || IsSettingsNotChange()" pButton
                    label="Save to all projects"></button>
                <div id="save-details-spinner" class="p-grid p-justify-center" *ngIf="!hasDetailsSaveResponse">
                    <p-progressSpinner></p-progressSpinner>
                </div>
            </div>
        </div>
    </form>
</div>
</div>