.container
    padding-top: 5%
    width: 455px
    margin: auto

.property-value
    font-size: 15px
    margin: 0px 0px 0px 10px

.editor-settings-content
    width: 80%
    margin: auto
    margin-top:2%

.property-name
    box-sizing: border-box
    font-weight: bold
    font-size: 15px
    color:#888
    margin: 0px 0px 0px 10px
    display: flex
    flex-direction: column
    justify-content: center

.editor-settings-content
    min-height: 450px

.editor-details-property
    display: grid
    grid-template-columns: repeat(2,1fr)
    margin-bottom: 2%

.settings-btn
    width: 45%
    display: block
    margin: auto
    margin-top: 4%

.title
    text-align: center
    margin-bottom: 6%
    color: #116fbf

input
    padding: 6px
    border-radius: 3px
    border: 1px solid #A6A6A6
    outline: none
    font-size: 14px
    //width: 65%
    margin: auto

.editor-input
   width: 65%

input:hover
    border-color: black

input:focus
    border-color: #008AD9

.dropdown
    border-radius: 2px
    display: flex
    justify-content: center

::ng-deep .ui-dropdown
    min-width: 65%

.modal-close-btn 
    color: #aaa
    float: right
    font-size: 28px
    font-weight: bold

.buttons
    display: flex
    flex-direction: column
    justify-content: center

  
.modal-close-btn:hover,
.modal-close-btn:focus 
  color: black
  text-decoration: none
  cursor: pointer