.container
    height: 600px
    padding-top: 70px

.property-value
    font-size: 15px
    margin: 0px 0px 0px 10px

.editor-settings-content
    width: 80%
    margin: auto
    margin-top:2%

.property-name
    box-sizing: border-box
    font-weight: bold
    font-size: 15px
    color:#888
    margin: 0px 0px 0px 10px

.editor-settings-content
    min-height: 450px

.editor-details-property
    display: grid
    grid-template-columns: repeat(2,1fr)
    margin-bottom: 2%

.settings-btn
    margin-top: 4%

.title
    text-align: center
    margin-bottom: 6%
    color: #116fbf

input
    padding: 6px
    border-radius: 3px
    border: 1px solid #A6A6A6
    outline: none
    font-size: 14px

input:hover
    border-color: black

input:focus
    border-color: #008AD9

.dropdown
    border-radius: 2px
    display: inline-grid

.modal-close-btn 
    color: #aaa
    float: right
    font-size: 28px
    font-weight: bold
  
.modal-close-btn:hover,
.modal-close-btn:focus 
  color: black
  text-decoration: none
  cursor: pointer