<div class="tab-menu-wrapper">
    <p-tabMenu [model]="tabs" [activeItem]="activeItem">
        <ng-template pTemplate="item" let-item let-i="index">
            <div class="tab-item" (click)="onTabSelect($event, i)">
                <div class="tab-icon">
                    <span [ngClass]="item.icon" *ngIf="item.icon"></span>
                </div>
                <div class="tab-text">{{item.label}}</div>
                <a tabindex="0" class="tab-close" (click)="closeItem($event, i)">
                    <span class="pi pi-times"></span>
                </a>
            </div>
        </ng-template>
    </p-tabMenu>
</div>
<i *ngIf="openedFiles.length === 0" class="editor-backgound pi pi-users"></i>
<ngx-monaco-editor *ngIf="openedFiles.length > 0 && monacoOptions" class="my-code-editor" [options]="monacoOptions" [(ngModel)]="code"
    (ngModelChange)="onChange($event)">
</ngx-monaco-editor>
