<div class="tab-menu-wrapper">
    <p-tabMenu [model]="tabs" [activeItem]="activeItem">
        <ng-template pTemplate="item" let-item let-i="index">
            <div style="position: relative; background-color: #4a4a4a;" (click)="onTabSelect($event, i)">
                <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size:0.6rem;"></div>
                <div class="ui-menuitem-text" style="font-size:0.6rem;color:#cfcfcf">
                    {{item.label}}
                </div>
                <a tabindex="0" class="ui-menuitem-icon" (click)="closeItem($event, i)"
                    style="position: absolute; right: -0.8em; top: -.1em; padding: 0;">
                    <span class="pi pi-times"></span>
                </a>
            </div>
        </ng-template>
    </p-tabMenu>
</div>
<!--Alexey merged this conflict and rest next two lines for not crash something-->
<i *ngIf="openedFiles.length === 0" class="editor-backgound pi pi-users"></i>
<ngx-monaco-editor *ngIf="openedFiles.length > 0 && monacoOptions" class="my-code-editor" [options]="editorOptions" [(ngModel)]="code"
    (ngModelChange)="onChange($event)">
</ngx-monaco-editor>