<p-table [value]="projects" class="project-list" class="nova-dark">
    <ng-template pTemplate="header">
        <tr>
            <th class="name no-border">Name</th>
            <th class="no-border">Description</th>
            <th class="no-border" *ngIf="!isOwnProject">Access</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
        <tr>
            <td class="project-name no-border" (click)="goToProjectDetails(project)">{{project.name}}</td>
            <td class="no-border">{{project.description}}</td>
            <td class="no-border" *ngIf="!isOwnProject">{{project.userAccess}}</td>
        </tr>
    </ng-template>
</p-table>