.table-user-avatar
    height:20px
    width:20px
    border-radius:50%

.stat-table-header
    background-color: #dadada !important
    
.stat-table-footer
    background-color: #000 !important

.table-element 
    text-align: center
        
.title
    margin: 0
    margin-bottom: 10px
    text-align: center