<p-card header="User statistics" [style]="{width:'100%'}">
    <p-table [value]="userstatistics" [scrollable]="true" scrollHeight="150px" [rowHover]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Member</th>
            <th>Code lines</th>
            <th>Successful builds</th>
            <th>Failed builds</th>
        </tr>
    </ng-template>
    <ng-template class="table-row" pTemplate="body" let-userstatistic>
        <tr (click)="OpenUserDetailedPage(userstatistic.id)">
            <td><img class="table-user-avatar"src="{{userstatistic.avatar}}"> {{userstatistic.name}}</td>
            <td>{{userstatistic.codelines}}</td>
            <td>{{userstatistic.successfulBuilds}}</td>
            <td>{{userstatistic.failedBuilds}}</td>
        </tr>
    </ng-template>
</p-table>
</p-card>