<h2 class="title">Users statistic</h2>
<p-table [columns]="cols" [value]="usersData">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ngClass]="'stat-table-header'">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template class="table-row" pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngClass]="'table-element'" [ngSwitch]="col.field">
        <ng-container *ngSwitchCase="'userName'">
            {{ rowData[col.field] | lessSymbols : 18 }}
        </ng-container>
        <ng-container *ngSwitchCase="'isAuthor'">
            {{ rowData[col.field] ? 'Author' : 'Collaborator'}}
        </ng-container>
        <ng-container *ngSwitchDefault>
            {{ rowData[col.field]}}
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
        Total files: {{totalFilesNum}} 
    </ng-template>
</p-table>
