.cards-area
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px))
    grid-template-rows: repeat(auto-fill, minmax(300px, 300px))
    justify-content: space-between
    grid-row-gap: 30px

::ng-deep .add-btn .ui-card.ui-widget.ui-widget-content.ui-corner-all
    height: 300px
    width: 300px
    color: #A4A4A4
    border: 3px dashed #A4A4A4
    border-radius: 1%
    display: flex
    justify-content: center
    box-shadow: none

::ng-deep .add-btn .ui-card.ui-widget.ui-widget-content.ui-corner-all .ui-card-body
    display: flex
    align-items: center
    font-size: 50px

::ng-deep .add-btn .ui-card.ui-widget.ui-widget-content.ui-corner-all:hover
    box-shadow: none
    border-color: #34a6ff
    color: #34a6ff