.header
    border-radius: 5px 5px 0 0
    height:70px
    display: flex
    color: #fff
    align-items: center
    padding: 10px
    padding-left: 20px
    justify-content: space-between

.header-buttons
    display: flex
    background-repeat: no-repeat
    background-size: cover  
    background-position: center
    vertical-align: center
    text-align: right

.imgContainer h2
    position: absolute
    left: 25px
    top: 5px
    bottom: 0
    color: white
    z-index: 0
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    width:60%
    text-align: left

.highlighted
    font-weight: bold

p
    color:#888


p-card .pi
    display: inline-block
    cursor: pointer
    font-size: 2em

.menu-ellipsis
    cursor: pointer

.success
    color: green

.failed
    color: red

.ui-card
    cursor: pointer
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)
    height: 100%

.ui-card:hover
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.ui-card .pi:hover
    color: orange

.title-ellipsis
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.title-body
    display: inline-block
    overflow: hidden

p-card:focus 
    outline: none