.imgContainer 
    position: relative
    height:250px
    background-repeat: no-repeat
    background-size: cover  
    background-position: center
    vertical-align: center
    text-align: right

.imgContainer h1
    position: absolute
    right: 25px
    bottom: 0
    color: white

.highlighted
    font-weight: bold
    
p
    color:#888

.iStar 
    color: #FF8C00
    font-size: 2em
    cursor: pointer

.star 
    display: block
    width: 2em
    position: absolute
    top: 0
    right: 0