.imgContainer 
    border-radius: 5px 5px 0 0
    position: relative
    height:70px
    background-repeat: no-repeat
    background-size: cover  
    background-position: center
    vertical-align: center
    text-align: right

.imgContainer h2
    position: absolute
    left: 25px
    top: 5px
    bottom: 0
    color: white

.highlighted
    font-weight: bold
    
p
    color:#888

.iStar 
    //color: #FF8C00
    color: #ffffff
    font-size: 2em
    cursor: pointer

.star 
    display: block
    width: 2em
    position: absolute
    top: 22px
    bottom: 0
    right: 45px

.menu-icon
    display: block
    width: 2em
    position: absolute
    top: 22px
    bottom: 0
    right: 15px

.menu-ellipsis 
    color: #ffffff
    font-size: 2em
    cursor: pointer

.success
    color: green

.failed
    color: red
    