<p-card routerLink="/workspace/{{project.id}}" subheader="{{project.creator}}">
    <p-header>
        <div class="header" [ngStyle]="{ 'background-color': project.color }">
            <div class="title-body">
              <h2 class="title-ellipsis">{{project.title}}</h2>
            </div>
            <div class="header-buttons">
                <div class="star" (click)="favourite($event)">
                    <i class="pi pi-star-o" *ngIf="!project.favourite"></i>
                    <i class="pi pi-star" *ngIf="project.favourite"></i>
                </div>
                <div class="menu-icon">
                    <p-contextMenu #menu [model]="contextMenu" appendTo="body"></p-contextMenu>

                    <i class="pi pi-ellipsis-v menu-ellipsis"
                    (contextmenu)="openCm($event, menu)" (click)="openCm($event, menu)" (keyup.enter)="openCm($event, menu)"></i>
                </div>
            </div>
        </div>
    </p-header>
    <div>
        <p>
            <span class="highlighted">Created:</span> {{project.created | date:'d MMMM yyyy'}}
        </p>
        <p *ngIf="project.lastBuild" [ngClass]="{
                                        'success':project.buildStatus === 1,
                                        'failed':project.buildStatus === 0
                                    }">
            <span class="highlighted" >Last build:</span> {{lastTimeBuild()}}
        </p>
    </div>
</p-card>
