<div class="container">
    <div class="authors-proj" *ngIf="mprojects && mprojects?.length != 0">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="title">Author's projects</div>
            </div>
        </div>
        
        <div class="scrolling-wrapper">
            <div class="card-wrapper" *ngFor="let project of mprojects">
                <app-user-pr-card [project]="project"></app-user-pr-card>
            </div>
        </div>
    </div>

    <div class="ass-proj" *ngIf="aprojects && aprojects?.length != 0">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="title">Assigned projects</div>
            </div>
        </div>

        <div class="scrolling-wrapper">
            <div class="card-wrapper" *ngFor="let project of aprojects">
                <app-user-pr-card [project]="project"></app-user-pr-card>
            </div>
        </div>
    </div>
    <div *ngIf="aprojects?.length == 0 && mprojects?.length == 0">
        <h2>This user has no project to work with.</h2>
    </div>
</div>
