.scrolling-wrapper
  overflow-x: scroll
  overflow-y: hidden
  white-space: nowrap
  position: relative
  margin-bottom: 15px

.card-wrapper
    display: inline-block
    width: 300px
    margin-right: 10px
    top:0px
    padding-bottom: 15px
    vertical-align: top

.title
  padding-bottom: 10px
  font-size: 24px
  font-weight: normal
  text-align: center
  color: #116fbf
  margin-bottom: 10px

h2
    text-align: center