.container
    margin: 20px 2%

.secondMenu .ui-button-raised
    margin-top: 20px
    position: fixed
    width: 70px
    height: 70px
    border-radius: 50%
    bottom: 50px
    right: 50px
    font-size: 1.5em

.menu
    display: block
    height: 24px
    border-bottom: 1px solid #888

ul li
    display: block
    float: left
    margin: 0 10px
    height: 24px
    padding: 0 5px
    cursor: pointer

li.active
    border-bottom: 1.5px solid #17C0D3
    color: #17C0D3
    cursor: default
::ng-deep .create-modal-container .ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ng-tns-c6-2.ng-star-inserted
    padding: 15px 15px 5px 15px
    font-size: 20px
    font-weight: normal
    text-align: center
    color: #116fbf
    border: 0
    background-color: #fff
::ng-deep .create-modal-container .pi-times:before
    font-size: 20px
::ng-deep .create-modal-container   
    & .ui-dialog-content.ui-widget-content
        border: 0

.create-modal-tile-menu
    
    display: grid
    grid-gap: 15px
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr))
    grid-template-rows: 100px
    justify-content: center
    align-items: center
    justify-items: center

.tile-item1
    width: 100%
    height: 100%
    background-color: #d1d1d1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    &:hover
        border: 1px solid #d1d1d1
        cursor: pointer
    & fa-icon
        font-size: 3em
        color: #495057
    & p
        text-align: center
        padding: 0 5px 5px 5px
        color: #495057

        
        
.tile-item2
    width: 100%
    height: 100%
    background-color: #d1d1d1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    &:hover
        border: 1px solid #d1d1d1
        cursor: pointer
    & fa-icon
        
        font-size: 3em
        color: #495057
    & p
        text-align: center
        padding: 0 5px 5px 5px
        color: #495057
        white-space: nowrap
        
    
.tile-item3
    width: 100%
    height: 100%
    background-color: #d1d1d1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    &:hover
        border: 1px solid #d1d1d1
        cursor: pointer
    & fa-icon
        font-size: 3em
        color: #495057
    & p
        text-align: center
        padding: 0 5px 5px 5px
        color: #495057
        white-space: nowrap
     