.content-wrapper
    width: 80%
    margin: auto

.results-title
    text-align: center
    font-size: 1.2rem

.result-project
    cursor: pointer
    margin: 20px 0 10px 0

.result-project:hover
    text-decoration: underline

.file-search-results
    margin-bottom: 30px

.content-wrapper
    padding-bottom: 35px

.footer
    background: white
    position: fixed
    left: 0
    bottom: 0
    box-shadow: 5px 4px 6px 1px black
    padding: 0px