<div class="content-wrapper">
    <div class="spinnerwaiter p-grid p-justify-center" *ngIf="isSpinner"> 
        <div class="spinner-content p-col-2"><p-progressSpinner></p-progressSpinner></div>
    </div>
    <p *ngIf="!isSpinner && !!fileSearchResults" class="results-title">Global search results for query "{{query}}":</p>
    
    <div class="file-search-results" *ngFor="let project of fileSearchResults">
        <div class="result-project" routerLink="/workspace/{{project.projectId}}">Project "{{project.projectName}}"</div>
        <p-accordion class="content-results" [multiple]="true" *ngFor="let fts of project.foundFiles">
            <p-accordionTab>
                <p-header [appHighlightMatch]="query">{{fts.fileName}}</p-header>
                <pre [appHighlightMatch]="query">{{fts.content}}</pre>
            </p-accordionTab>
        </p-accordion>
    </div>
    <app-footer class="ui-g-12 footer"></app-footer>
</div>
