.notification-wrp
    border-radius: 5px
    padding: 5px
    width: 250px
    margin: 5px
    margin-bottom: 10px
    
.notification-header
    color: rgb(78, 80, 82)
    font-size: 0.8rem
    display: flex
    justify-content: space-between

.notification-status
    font-weight: bold

.notification-link
    text-align: right
    a
        color: rgb(78, 80, 82)
        font-size: 0.7rem
        text-decoration: underline
        font-weight: bold


