.collaboratorContainer
    display: flex
    flex-direction: column

.collaborator-item
    display: grid
    grid-template-columns: repeat(4,1fr)
    width: 80%
    align-items: center
    margin: auto
    padding: 1%

.b-btn
    width: 80%
    display: block
    margin: auto