<div class="container">
    <div class="noData" *ngIf="projects === null">
        There aren't any favourite projects in this category. You can be the first one:)
    </div>
    <div *ngIf="projects !== undefined && projects !== null && projects.length !== 0">
        <div class="projectDiv ui-g-12" *ngFor="let project of projects">
            <div class="border">
                <div class="ui-g">
                    <div class="ui-g-6">
                        <p>Project: <span class="highlighted">{{ project.projectName }} </span> 
                            {{project.likesCount}}<span class="heart">&#x2764;</span></p>
                    </div>
                    <div class="ui-g-6">
                        <p class="date" *ngIf="project.lastChangedDate">Last change: <span class="highlighted">{{ project.lastChangedDate | date: 'dd MMM hh:mm' }}</span></p>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-9">
                        <p>Description: <span class="text highlighted">{{ project.projectDescription }} </span> </p>
                    </div>
                    <div class="ui-g-3">
                        <p class="nickName">Made by: <span class="highlighted">{{ project.authorNickName }} </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>