.heart
    color: red
.highlighted
    font-weight: bold

.noData 
    text-align: center
    
.container 
    margin: 0 auto
    height: 593px

.project
    padding: 10px 0 10px 10%

.project:nth-child(2n)
    background: #5db4e9
    width: 100%
    padding-left: 50%