.footer
    width: 95%
    height: 42px
    margin: 0 auto 0 auto
    font-size: 0.7em
    display: flex
    justify-content: space-between
    padding: 0
    align-items: center

.footer span
    margin-top: 15px
    margin-left: 30px

.footer i
    margin: 0 0 0 6px
a
    color: black
