{
    "extends": [
        "plugin:wdio/recommended"
    ],
    "plugins": ["wdio"],
    "env": {
        "mocha": true,
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "class-name": true,
        "curly": 1,
        "eofline": false,
        "forin": true,
        "indent": [true, "spaces"],
        "max-line-length": false,
        "no-arg": true,
        "no-bitwise": 1,
        "no-conditional-assignment": true,
        "no-construct": true,
        "no-duplicate-variable": true,
        "no-internal-module": true,
        "no-require-imports": false,
        "no-switch-case-fall-through": true,
        "no-unused-expression": true,
        "no-var-keyword": true,
        "radix": 1,
        "semicolon": [false],
        "trailing-comma": [
            false,
            {
                "multiline": "never",
                "singleline": "never"
            }
        ],
        "triple-equals": [true, "allow-null-check"],
        "typedef": [
            false,
            "call-signature",
            "parameter",
            "property-declaration",
            "variable-declaration",
            "member-variable-declaration"
        ],
        "whitespace": [
            false,
            "check-branch",
            "check-decl",
            "check-operator",
            "check-module",
            "check-separator",
            "check-type",
            "check-typecast"
        ]
    }
}