.container
    // margin-bottom: 30px
    
.panel
    margin-top: 30px
    margin-bottom: 20px
    background-color: #FFFFFF
    padding-top: 30px
    padding-bottom: 30px
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2)

.panel img
    border-radius: 50%

.property-name
    box-sizing: border-box
    font-weight: bold
    font-size:25px
    color:#888
    margin: 0px 0px 0px 10px

.property-value
    font-size: 20px
    margin: 10px 0px 10px 0px
