.panel
    margin-top: 30px
    margin-bottom: 20px
    background-color: #FFFFFF
    padding-top: 30px
    padding-bottom: 30px
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2)
    overflow-y: hidden !important

.panel img
    border-radius: 50%
    cursor: pointer
    width: 250px

.p-grid.p-justify-around.p-align-start
    margin-right: 0
    margin-left: 0

.property-name
    box-sizing: border-box
    font-weight: bold
    font-size:25px
    color:#888
    margin: 0px 0px 0px 10px

.property-value
    font-size: 20px
    margin: 10px 0px 10px 0px

.big-avatar
    margin-left: auto
    margin-right: auto
    width: 500px

@media screen and (max-width: 768px) 
    .big-avatar
        margin-left: auto
        margin-right: auto
        width: 300px
        border-radius: 50%


.title
  padding-bottom: 10px
  font-size: 24px
  font-weight: normal
  text-align: center
  color: #116fbf

.modal-close-btn 
    color: #aaa
    float: right
    font-size: 28px
    font-weight: bold
  
.modal-close-btn:hover,
.modal-close-btn:focus 
  color: black
  text-decoration: none
  cursor: pointer
