.panel
    margin-top: 15px
    margin-bottom: 5px
    background-color: #FFFFFF
    padding-top: 30px
    overflow-y: hidden !important
    height: 85vh
    max-width: 1200px

.user-info-avatar
    display: flex
    justify-content: center
    flex-direction: column

.panel .user-page-avatar
    border-radius: 50%
    cursor: pointer 
    object-fit: cover
    width: 200px
    height: 200px

.image-btn
    padding-top: 1px
    height: 35px
    margin-top: auto    
    display: none

.second
    margin-left: 80px

.image-action-btn
    position: absolute
    margin-top: 50px
    margin-left: 160px
    //margin-right: px
    z-index: 1001

.user-info-avatar:hover .image-btn
    display: inline-block

.user-description
    display: flex
    align-items: center

    

.info
    width: 50%

.right-part
    width: 60%
    height: 85vh

.left-part
    width: 40%
    height: 75vh
    display: flex
    flex-direction: column
    justify-content: space-around

.p-grid.p-justify-around.p-align-start
    margin-right: 0
    margin-left: 0


.property-name
    box-sizing: border-box
    font-weight: bold
    font-size:1rem
    color:#888
    margin: 0px 0px 0px 5px
    display: block
    width: 150px

.user-profile-btn
    display: flex
    height: 15%
    flex-direction: column
    justify-content: center

.property-value
    font-size: 19px
    margin: 5px 0px 5px 0px
    display: block

::ng-deep body .container .panel .ui-tabview .ui-tabview-panels
    padding: 10px

p
    margin: 2%
    display: grid
    align-items: baseline
    grid-template-columns: 150px 1fr
    grid-gap: 2%

::ng-deep body .ui-tabview .ui-tabview-panels .tab-item .ui-tabview-panel
    height: 70vh
    overflow-y: auto

::ng-deep .editBtn .ui-button-icon-left
    left: 1.2em
    

.tname
    font-size:30px  
    font-weight: bold 
    display: table
    margin: auto
    margin-top: 10px
    margin-bottom: 20px

.user-info
    display: block
    margin: auto

.big-avatar
    margin-left: auto
    margin-right: auto
    width: 500px

@media screen and (max-width: 768px) 
    .big-avatar
        margin-left: auto
        margin-right: auto
        width: 250px
        heigth: 250px
        border-radius: 50%

.title
  padding-bottom: 10px
  font-size: 24px
  font-weight: normal
  text-align: center
  color: #116fbf

.tab-item
    width: 100%
    overflow: hidden

.modal-close-btn 
    color: #aaa
    float: right
    font-size: 28px
    font-weight: bold
  
.modal-close-btn:hover,
.modal-close-btn:focus 
  color: black
  text-decoration: none
  cursor: pointer

h2
  margin-left:25px
  font-size: 24px
  font-weight: normal
  color: #116fbf

.user-profile-information
    height: 45%

.editBtn
    margin: auto
    margin-top: 10px
    padding-top: 1px
    width: 200px
    height: 35px
    color: black

.buttons-group
    margin-bottom: 20px

@media (min-width: 768px)
    .container
        width: 750px
        margin: 0 auto


@media (min-width: 992px)
    .container
        width: 970px
        margin: 0 auto

@media (min-width: 992px)
    .panel .user-page-avatar
        width: 150px
        height: 150px

@media (min-width: 1200px)
    .container
        width: 1170px
        margin: 0 auto