<div class="auth-modal">
  <div mat-dialog-content class="auth-content">
    <span class="modal-close-btn" (click)="close()">&times;</span>
    <h2 mat-dialog-title class="title">{{title}}</h2>
    <form name="authForm" #authForm="ngForm" class="main-content">
      <div *ngIf="data.dialogType === dialogType.SignUp">
        <label class="modal-label">Your name</label>
        <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" matInput placeholder="Your full name">
      </div>
      <div>
        <label class="modal-label">Your E-mail</label>
        <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" matInput placeholder="Email">
      </div>
      <div>
        <label class="modal-label">Your password</label>
        <input name="authPassword" [(ngModel)]="password" #upPassword="ngModel" matInput
          [type]="hidePass ? 'password' : 'text'" placeholder="Password (at least 6 characters)">
      </div>
    </form>
    <p class="auth-or">OR</p>
    <div>
      <button class="google-btn">Sing up with Google</button>
      <button class="auth-btn" *ngIf="data.dialogType === dialogType.SignUp" (click)="signUp()">CREATE ACCOUNT</button>
      <button class="auth-btn" *ngIf="data.dialogType === dialogType.SignIn" (click)="signIn()">LOG IN ACCOUNT</button>
    </div>
  </div>
</div>