<span class="modal-close-btn" (click)="close()">&times;</span>
<h2 class="title">{{title}}</h2>
<form name="authForm" #authForm="ngForm" (ngSubmit)="close()">
  <div *ngIf="config.data.dialogType === dialogType.SignUp">
    <div>
      <label for="float-firstName-input">Your first name</label>
      <input id="float-firstName-input" type="text" size="30" [(ngModel)]="firstName" name="authFirstName"
        #upFirstname="ngModel" pInputText pattern="[а-яА-Яa-zA-Z^0-9]" maxlength="32" minlength="2" >
        <div *ngIf="upFirstname.invalid && (upFirstname.dirty || upFirstname.touched)" class="alert-danger">
          <div *ngIf="upFirstname.errors.pattern">
            First name can contain latin\cyrillic letters (upper\lowercase).
          </div>
          <div *ngIf="upFirstname.errors.minlength">
            First name minlength is 2.
          </div>
          <div *ngIf="upFirstname.errors.maxlength">
            First name maxlength is 32.
          </div>
        </div>
    </div>
    <div>
      <label for="float-lastName-input">Your last name</label>
      <input id="float-lastName-input" type="text" size="30" [(ngModel)]="lastName" name="authLastName"
        #upLastname="ngModel" pInputText pattern="[а-яА-Яa-zA-Z^0-9]" maxlength="32" minlength="2">
        <div *ngIf="upLastname.invalid && (upLastname.dirty || upLastname.touched)" class="alert-danger">
          <div *ngIf="upLastname.errors.pattern">
            Last name can contain latin\cyrillic letters (upper\lowercase).
          </div>
          <div *ngIf="upLastname.errors.minlength">
            Last name minlength is 2.
          </div>
          <div *ngIf="upLastname.errors.maxlength">
            Last name maxlength is 32.
          </div>
        </div>
    </div>
    <div>
      <label for="float-nickName-input">Your nickname</label>
      <input id="float-nickName-input" type="text" size="30" [(ngModel)]="nickName" name="authNickName"
        #upNickName="ngModel" pInputText>
    </div>
  </div>
  <div>
    <label for="float-email-input">Your E-mail</label>
    <input id="float-email-input" type="text" size="30" [(ngModel)]="email" name="email" #inEmail="ngModel" pInputText
      required pattern="[a-zA-Z0-9._]{1,35}@[a-zA-Z0-9.]{1,35}">
    <div *ngIf="inEmail.invalid && (inEmail.dirty || inEmail.touched)" class="alert-danger">
      <div *ngIf="inEmail.errors.pattern">
        Email can contain latin letters (upper\lowercase), digits, ".", "_", "@".
      </div>
      <div *ngIf="inEmail.errors.required">
        Email is required.
      </div>
    </div>
  </div>
  <div>
    <label>Your password</label>
    <input pPassword [(ngModel)]="password" name="password" type="password" minlength="8" #Password="ngModel" maxlength="16" required
    pattern="[а-яА-Яa-zA-Z0-9]"/>
    <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert-danger">
      <div *ngIf="Password.errors.pattern">
        Password can contain latin letters (upper\lowercase), digits.
      </div>
      <div *ngIf="Password.errors.required">
        Password is required.
      </div>
      <div *ngIf="Password.errors.minlength">
        Password minlength is 8.
      </div>
      <div *ngIf="Password.errors.maxlength">
        Password maxlength is 16.
      </div>
    </div>
  </div>
</form>
<p class="auth-or">OR</p>
<div>
  <button type="submit" class="google-btn">Sing up with Google</button>
  <button type="submit" pButton class="auth-btn" *ngIf="config.data.dialogType === dialogType.SignUp"
    (click)="signUp()">CREATE
    ACCOUNT</button>
  <button pButton class="auth-btn" *ngIf="config.data.dialogType === dialogType.SignIn" (click)="signIn()">LOG IN
    ACCOUNT</button>
</div>